.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjust height as needed */
    color: black; /* Adjust color as needed */
    text-align: center;
    padding: 20px;
  }
  
  .banner__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
  
  .banner__subtitle {
    font-size: 12px;
    margin-top: 10px;
  }
  