.cart-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 70%; /* Full height for better UX */
  background-color: white;
  box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease;
  z-index: 1010; /* Ensure it's above the overlay */
}

.cart-sidebar.open {
  right: 0;
}

.cart-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f1e6;
  border-bottom: 1px solid #e0e0e0;
}

.cart-sidebar-header h3 {
  margin: 0;
  font-size: 18px;
}

.cart-sidebar-header .close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-sidebar-content {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart-sidebar-footer {
  padding: 15px;
  background-color: #f8f1e6;
  border-top: 1px solid #e0e0e0;
}

.cart-sidebar-footer .checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1000; /* Below CartSidebar */
  display: none; /* Initially hidden */
}

.overlay.active {
  display: block;
}
